## Python Data Structures and Sequences

###### Tuple

They are like read-only lists. We use them to store a list of items. But once we
define a tuple, we cannot add or remove items or change the existing items. If an object inside a tuple is mutable, such as a list, you can modify it in-place.

In [1]:
tup = 4,5,6
tup

(4, 5, 6)

In [6]:
type(tup)

tuple

In [133]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [13]:
# We can convert any sequence or iterator to a tuple by invoking tuple:
tuple([4, 0, 2])
#type(tuple([4, 0, 2]))

(4, 0, 2)

In [66]:
tup = tuple("String")
tup
#type(tup)

('S', 't', 'r', 'i', 'n', 'g')

Elements can be accessed with square brackets [] as with most other sequence types. As in C, C++, Java, and many other languages, sequences are 0-indexed in Python:

In [73]:
tup[0]

'S'

In [50]:
tup = tuple(['foo', [1,2], True])
tup

('foo', [1, 2], True)

While the objects stored in a tuple may be mutable themselves, once the tuple is cre‐
ated it’s not possible to modify which object is stored in each slot:

In [51]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [52]:
tup[1].append(3)

In [54]:
tup

('foo', [1, 2, 3], True)

In [58]:
# concatenate tuples using the + operator
(4, None, 'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [59]:
# Multiplying a tuple by an integer
('foo', 'bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Unpacking tuples

In [92]:
tup = (4, 5, 6)
a, b, c = tup

In [94]:
b

5

In [97]:
# sequences with nested tuples can be unpacked
a, b, (c, d) = (4, 5, (6, 7))

In [98]:
d

7

In [102]:
# Also the swap can be done 
a, b = (1, 2)
a

1

In [103]:
b

2

In [104]:
b, a = (a, b)

In [105]:
b

1

In [106]:
a

2

In [128]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq:
    print('a={}, b={}, c={}'.format(a, b, c)) # W3school is best for understanding .format()

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [109]:
user_data = ('Pappu', 31, 'Male', 'Cooking', 'Germany')
name, age, gender, *others = user_data
name, age, gender, *_ = user_data

In [110]:
print(others)
print(_)

['Cooking', 'Germany']
['Cooking', 'Germany']

In [89]:
def get_user_data():
    user_email = input("Enter your email: ")
    user_pass = input("Enter your password: ")
    
    return (user_email, user_pass)

In [90]:
print(get_user_data())

Enter your email: pappu@gmail.com
Enter your password: 123
('pappu@gmail.com', '123')

In [130]:
# Count Method
a = (1,2,2,2,3,4,2)
a.count(2)

4

# List

In [183]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')

In [184]:
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [185]:
b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

Lists and tuples are semantically similar (though tuples cannot be modified) and can
be used interchangeably in many functions.
The list function is frequently used in data processing as a way to materialize an
iterator or generator expression

In [186]:
gen = range(10)
gen

range(0, 10)

In [187]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Adding and removing elements

In [188]:
b_list.append("drawf")
b_list

['foo', 'peekaboo', 'baz', 'drawf']

In [189]:
# Using insert we can insert an element at a specific location in the list
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'drawf']

The insertion index must be between 0 and the length of the list

The inverse operation to insert is pop, which removes and returns an element at a
particular index

In [190]:
b_list.pop(2)

'peekaboo'

In [191]:
b_list

['foo', 'red', 'baz', 'drawf']

Elements can be removed by value with remove, which locates the first such value and
removes it from the last:

In [192]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'drawf', 'foo']

In [193]:
b_list.remove('foo')
b_list

['red', 'baz', 'drawf', 'foo']

In [195]:
# Check if a list contains a value using the in keyword
'drawf' in b_list

True

In [196]:
# The keyword not can be used to negate in
'drawf' not in b_list

False

Concatenating and combining lists

In [197]:
# Similar to tuples, adding two lists together with + concatenates them
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [202]:
# If you have a list already defined, you can append multiple elements to it using the extend method
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

Sorting

In [205]:
# You can sort a list in-place (without creating a new object) by calling its sort function
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [208]:
# pass a secondary sort key
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)
b

['he', 'saw', 'six', 'small', 'foxes']